{
  "openapi": "3.1.0",
  "info": {
    "title": "Orbita Payment API",
    "description": "API de pagamentos do Orbita - Suporte para PIX, Boleto e Cartão de Crédito",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.orbita.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/pay/payments": {
      "post": {
        "summary": "Criar novo pagamento",
        "description": "Inicializa um novo pagamento através de PIX, Boleto ou Cartão de Crédito",
        "operationId": "createPayment",
        "requestBody": {
          "description": "Dados do pagamento",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pagamento criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PixPaymentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/BoletoPaymentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CreditCardPaymentResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API Key inválida ou ausente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/pay/webhook": {
      "post": {
        "summary": "Webhook de notificação de pagamento",
        "description": "Webhook enviado quando o status de uma transação muda",
        "requestBody": {
          "description": "Dados do webhook",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook recebido com sucesso"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "required": [
          "paymentMethod",
          "amount",
          "currency",
          "paymentDetails"
        ],
        "properties": {
          "paymentMethod": {
            "type": "string",
            "enum": ["pix", "credit_card", "boleto"],
            "description": "Método de pagamento"
          },
          "amount": {
            "type": "integer",
            "description": "Valor em centavos (ex: 10000 = R$ 100,00)",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "enum": ["BRL"],
            "description": "Moeda",
            "default": "BRL"
          },
          "paymentDetails": {
            "$ref": "#/components/schemas/PaymentDetails"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "description": "Lista de itens/produtos"
          },
          "postbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL para receber webhooks de notificação"
          },
          "affiliateId": {
            "type": "string",
            "description": "ID do afiliado"
          },
          "planId": {
            "type": "string",
            "description": "ID do plano"
          },
          "userId": {
            "type": "string",
            "description": "ID do usuário"
          },
          "transactionId": {
            "type": "string",
            "description": "ID da transação (gerado automaticamente se não informado)"
          },
          "installments": {
            "type": "integer",
            "description": "Número de parcelas (obrigatório para cartão de crédito)",
            "minimum": 1
          },
          "creditCard": {
            "$ref": "#/components/schemas/CreditCard",
            "description": "Dados do cartão de crédito (obrigatório quando paymentMethod = credit_card)"
          }
        }
      },
      "PaymentDetails": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "document",
          "documentType",
          "email",
          "phoneNumber",
          "address"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "description": "Nome do pagador"
          },
          "lastName": {
            "type": "string",
            "description": "Sobrenome do pagador"
          },
          "document": {
            "type": "string",
            "description": "CPF/CNPJ (apenas números)"
          },
          "documentType": {
            "type": "string",
            "enum": ["cpf", "cnpj"],
            "description": "Tipo do documento"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "E-mail do pagador"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Telefone (apenas números, sem formatação)"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [
          "address1",
          "neighboor",
          "zipCode",
          "city",
          "state",
          "country"
        ],
        "properties": {
          "address1": {
            "type": "string",
            "description": "Endereço linha 1"
          },
          "address2": {
            "type": "string",
            "description": "Endereço linha 2 (complemento)"
          },
          "neighboor": {
            "type": "string",
            "description": "Bairro"
          },
          "zipCode": {
            "type": "string",
            "description": "CEP (formato: 01234-567)"
          },
          "city": {
            "type": "string",
            "description": "Cidade"
          },
          "state": {
            "type": "string",
            "description": "Estado (UF)"
          },
          "country": {
            "type": "string",
            "enum": ["BR"],
            "description": "País",
            "default": "BR"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "tangible": {
            "type": "boolean",
            "description": "Se o item é físico ou digital"
          },
          "title": {
            "type": "string",
            "description": "Título do item"
          },
          "unitPrice": {
            "type": "integer",
            "description": "Preço unitário em centavos"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantidade",
            "minimum": 1
          },
          "productId": {
            "type": "string",
            "format": "uuid",
            "description": "ID do produto (opcional)"
          },
          "product": {
            "$ref": "#/components/schemas/Product",
            "description": "Dados completos do produto (opcional)"
          }
        }
      },
      "CreditCard": {
        "type": "object",
        "required": [
          "cardHolderName",
          "cardNumber",
          "cardMonth",
          "cardYear",
          "cardCVV"
        ],
        "properties": {
          "cardHolderName": {
            "type": "string",
            "description": "Nome do portador do cartão"
          },
          "cardNumber": {
            "type": "string",
            "description": "Número do cartão (apenas números)"
          },
          "cardMonth": {
            "type": "string",
            "description": "Mês de expiração (formato: 12)"
          },
          "cardYear": {
            "type": "string",
            "description": "Ano de expiração (formato: 25)"
          },
          "cardCVV": {
            "type": "string",
            "description": "Código de segurança (CVV)"
          }
        }
      },
      "PixPaymentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Transaction"
          },
          {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string",
                "format": "uuid",
                "description": "ID único da transação (alias para id)"
              }
            }
          }
        ],
        "description": "Resposta de pagamento PIX - contém os campos da Transaction com informações específicas de PIX"
      },
      "BoletoPaymentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Transaction"
          },
          {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string",
                "format": "uuid",
                "description": "ID único da transação (alias para id)"
              },
              "boletoCode": {
                "type": "string",
                "description": "Código de barras do boleto (alias para billetCode)"
              }
            }
          }
        ],
        "description": "Resposta de pagamento Boleto - contém os campos da Transaction com informações específicas de Boleto"
      },
      "CreditCardPaymentResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Transaction"
          },
          {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string",
                "format": "uuid",
                "description": "ID único da transação (alias para id)"
              }
            }
          }
        ],
        "description": "Resposta de pagamento Cartão de Crédito - contém os campos da Transaction com informações específicas de Cartão"
      },
      "WebhookPayload": {
        "type": "object",
        "required": [
          "transactionId",
          "status"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid",
            "description": "ID único da transação"
          },
          "status": {
            "type": "string",
            "enum": [
              "initial",
              "pending",
              "approved",
              "declined",
              "refund",
              "chargeback",
              "expired",
              "paid",
              "cancelled"
            ],
            "description": "Status da transação"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message",
          "statusCode"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Tipo do erro"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de erro"
          },
          "statusCode": {
            "type": "integer",
            "description": "Código HTTP do erro"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "ID único da transação"
          },
          "status": {
            "type": "string",
            "enum": [
              "initial",
              "pending",
              "approved",
              "declined",
              "refund",
              "chargeback",
              "expired",
              "paid",
              "cancelled"
            ],
            "description": "Status da transação"
          },
          "amount": {
            "type": "number",
            "format": "decimal",
            "description": "Valor da transação em centavos"
          },
          "netAmount": {
            "type": "number",
            "format": "decimal",
            "description": "Valor líquido da transação em centavos"
          },
          "method": {
            "type": "string",
            "enum": ["pix", "credit_card", "boleto"],
            "description": "Método de pagamento"
          },
          "installments": {
            "type": "integer",
            "description": "Número de parcelas",
            "default": 1
          },
          "acquirerTxId": {
            "type": "string",
            "description": "ID da transação no adquirente"
          },
          "systemTxId": {
            "type": "string",
            "description": "ID da transação no sistema"
          },
          "pixQrCode": {
            "type": "string",
            "description": "QR Code PIX para pagamento"
          },
          "pixCode": {
            "type": "string",
            "description": "Código PIX para pagamento"
          },
          "billetCode": {
            "type": "string",
            "description": "Código de barras do boleto"
          },
          "billetUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL do boleto"
          },
          "endToEnd": {
            "type": "string",
            "description": "Identificador end-to-end da transação"
          },
          "dateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Data e hora de criação da transação"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data e hora de expiração do pagamento"
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data e hora de aprovação do pagamento"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data e hora de confirmação do pagamento"
          },
          "transactionProducts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionProduct"
            },
            "description": "Produtos associados à transação"
          }
        }
      },
      "TransactionProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "ID único do produto da transação"
          },
          "transactionId": {
            "type": "string",
            "format": "uuid",
            "description": "ID da transação"
          },
          "productId": {
            "type": "string",
            "format": "uuid",
            "description": "ID do produto"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantidade do produto",
            "default": 1,
            "minimum": 1
          },
          "unitPrice": {
            "type": "number",
            "format": "decimal",
            "description": "Preço unitário em centavos"
          },
          "totalPrice": {
            "type": "number",
            "format": "decimal",
            "description": "Preço total em centavos"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data e hora de criação"
          },
          "product": {
            "$ref": "#/components/schemas/Product",
            "description": "Dados do produto"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "ID único do produto"
          },
          "name": {
            "type": "string",
            "description": "Nome do produto"
          },
          "description": {
            "type": "string",
            "description": "Descrição do produto"
          },
          "type": {
            "type": "string",
            "enum": ["physical", "digital"],
            "description": "Tipo do produto (físico ou digital)"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL da imagem do produto"
          },
          "category": {
            "type": "string",
            "description": "Categoria do produto"
          },
          "isActive": {
            "type": "boolean",
            "description": "Se o produto está ativo",
            "default": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API_KEY gerada dentro da plataforma em https://app-v2.orbitapay.com.br/apps"
      }
    }
  }
}
